# Thư mục build và các file lớn không nên đẩy lên GitHub
node_modules/
dist/
release/
*.exe
*.blockmap
*.bin
*.pak
*.dll
*.asar
.DS_Store

# Submodules - deploy riêng
key-admin/
key-manager-backend/"keyadmin/"  
"key-manager-backend/" 
